@using ClickME.Models
@model Registration
<h1>Зарегистрироваться</h1>
<form asp-action="Check" asp-controller="Registration" method="post">

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="form-text text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="form-text text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="form-text text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<p>Если у вас есть аккаунт<a asp-controller="Registration" asp-action="Login"> войдите</a> в систему </p>